<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YouxiangMapper">
  <resultMap id="BaseResultMap" type="com.entity.Youxiang">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shoujianren" jdbcType="VARCHAR" property="shoujianren" />    <result column="fajianren" jdbcType="VARCHAR" property="fajianren" />    <result column="biaoti" jdbcType="VARCHAR" property="biaoti" />    <result column="zhengwen" jdbcType="VARCHAR" property="zhengwen" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shoujianren,fajianren,biaoti,zhengwen, addtime
  </sql>
  <select id="quchongYouxiang"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from youxiang 
    where fajianren = #{fajianren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from youxiang  where 1=1
    <if test="shoujianren!=null">and shoujianren like  concat('%',#{shoujianren,jdbcType=VARCHAR},'%')</if>     <if test="fajianren!=null">and fajianren like  concat('%',#{fajianren,jdbcType=VARCHAR},'%')</if>     <if test="biaoti!=null">and biaoti like  concat('%',#{biaoti,jdbcType=VARCHAR},'%')</if>     <if test="zhengwen!=null">and zhengwen like  concat('%',#{zhengwen,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youxiang  where 1=1
    <if test="fajianren!=null">
    and fajianren =#{fajianren}
    </if>
  </select>
  
  <select id="getsyyouxiang1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youxiang  where 1=1
    limit 0,8
  </select>
  <select id="getsyyouxiang2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youxiang  where 1=1
    limit 0,8
  </select>
  <select id="getsyyouxiang3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from youxiang  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from youxiang where 1=1 
     <if test="shoujianren!=null">and shoujianren like  concat('%',#{shoujianren,jdbcType=VARCHAR},'%')</if>     <if test="fajianren!=null">and fajianren like  concat('%',#{fajianren,jdbcType=VARCHAR},'%')</if>     <if test="biaoti!=null">and biaoti like  concat('%',#{biaoti,jdbcType=VARCHAR},'%')</if>     <if test="zhengwen!=null">and zhengwen like  concat('%',#{zhengwen,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from youxiang
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from youxiang
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Youxiang">
    insert into youxiang (id, shoujianren,fajianren,biaoti,zhengwen, addtime)
    values (#{id,jdbcType=INTEGER}, #{shoujianren,jdbcType=VARCHAR},#{fajianren,jdbcType=VARCHAR},#{biaoti,jdbcType=VARCHAR},#{zhengwen,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Youxiang">
    insert into youxiang
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shoujianren != null"> shoujianren, </if>      <if test="fajianren != null"> fajianren, </if>      <if test="biaoti != null"> biaoti, </if>      <if test="zhengwen != null"> zhengwen, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shoujianren != null"> #{shoujianren,jdbcType=VARCHAR},</if>      <if test="fajianren != null"> #{fajianren,jdbcType=VARCHAR},</if>      <if test="biaoti != null"> #{biaoti,jdbcType=VARCHAR},</if>      <if test="zhengwen != null"> #{zhengwen,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Youxiang">
    update youxiang
    <set>
	  <if test="shoujianren != null"> shoujianren = #{shoujianren,jdbcType=VARCHAR},</if>      <if test="fajianren != null"> fajianren = #{fajianren,jdbcType=VARCHAR},</if>      <if test="biaoti != null"> biaoti = #{biaoti,jdbcType=VARCHAR},</if>      <if test="zhengwen != null"> zhengwen = #{zhengwen,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Youxiang">
    update youxiang
    set shoujianren = #{shoujianren,jdbcType=VARCHAR},fajianren = #{fajianren,jdbcType=VARCHAR},biaoti = #{biaoti,jdbcType=VARCHAR},zhengwen = #{zhengwen,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
